<!-- HERO SLIDER -->
<div class="home_main_container_slider">
  <div
    class="home_slider_container"
    [style.width.%]="popularProduct.length * 100"
    [ngStyle]="{ 'transform': 'translateX(' + slidePosition + '%)' }"
  >
    <img
      *ngFor="let item of popularProduct"
      [src]="item"
      alt="Image slider"
    />
  </div>

  <div class="carousel_controls">
    <button class="prev_btn" (click)="previousSlide()">
      <fa-icon [icon]="prevFonticon"></fa-icon>
    </button>

    <button class="next_btn" (click)="nextSlide()">
      <fa-icon [icon]="nextFontIcon"></fa-icon>
    </button>
  </div>
</div>

<!-- LOADER -->
<app-loading
  [isLoading]="isLoading"
  [loadingText]="loadingText">
</app-loading>

<!-- ML RECOMMENDATIONS -->
<div *ngIf="showRecommendations && !isLoading">
  <h1 class="trendyHead">Recommended For You</h1>

  <div class="show-trends-product">
    <ng-container *ngFor="let product of recommendedProducts">
      <app-product-card [productData]="product"></app-product-card>
    </ng-container>
  </div>
</div>

<!-- TRENDING PRODUCTS -->
<h1 class="trendyHead" *ngIf="!isLoading">Trendy Products</h1>

<div class="show-trends-product" *ngIf="!isLoading">
  <ng-container *ngFor="let product of productData">
    <app-product-card [productData]="product"></app-product-card>
  </ng-container>
</div>
