<app-loading
  [isLoading]="isLoading || isUpdating"
  loadingText="Updating product...">
</app-loading>

<p class="showMessage-p">{{ message }}</p>

<div class="container" *ngIf="!isLoading && !isUpdating">

  <h2>Update Product</h2>

  <div class="form-group">
    <input
      type="text"
      placeholder="Product Name"
      [(ngModel)]="productData.name"
    />
  </div>

  <div class="form-group">
    <input
      type="number"
      placeholder="Price"
      [(ngModel)]="productData.price"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      placeholder="Category"
      [(ngModel)]="productData.category"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      placeholder="Image URL"
      [(ngModel)]="productData.image"
    />
  </div>

  <div class="form-group">
    <textarea
      placeholder="Description"
      [(ngModel)]="productData.description">
    </textarea>
  </div>

  <h3>Variants (Read Only)</h3>
  <div class="variant-row" *ngFor="let v of productData.variants">
    {{ v.color }} → {{ v.stock }}
  </div>

  <button (click)="updateProduct()">Update Product</button>

</div>
